@charset "utf-8";
.main{
	margin:0 auto;
	width:960px;
	border-style:solid;
	border-color:#CCC;
	background-position:left;
	background-color:#FFF;
}
h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 34px;
}
.main h3 {
	font-family:"微软雅黑";
	font-size: 20px;
	color: #009;
	background-color: #CCC;
}
.main p {
	font-family: "微软雅黑";
}
.main .pic {
	font-size: 18px;
}
.main .pic {
	font-size: 24px;
}
.main span {
	font-weight: bold;
}
.main .papic {
	float:right;
}
.main h4{
	font-size:24px;
	color:#603;
	font-family:"Courier New", Courier, monospace;
}
body{
	background-image:url(pictures/bgpic.jpg);
	background-attachment:fixed;
}
	
